

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Start date</th>
            <th>Due date</th>
            <th>Priority</th>
            <th>Status</th>
        </tr>
    </thead>

    {{#each tasks as |task| }}

{{#ifEquals status "completed"}}
    
    <tbody>
        <tr>
            <th>{{id}}</th>
            <td>{{title}}</td>
            <td>{{description}}</td>
            <td>{{format_date start_date}}</td>
            <td>{{format_date due_date}}</td>
            <td>{{priority}}</td>
            <td>{{status}}</td>
        </tr>
    </tbody>

{{/ifEquals}}
    



    {{/each}}
</table>

<script src="/js/tasks.js"></script>