{{!-- <div id="taskList">
    {{#each tasks}}
  <div class="box mt-5" data-task-id="{{id}}">
  <h2 class="title is-3">{{title}}</h2>
  <p>Status: {{status}}</p>
  <p>Priority: {{priority}}</p>
  <p>Start Date: {{start_date}}</p>
  <p>Due Date: {{due_date}}</p>
  <p>Description: {{description}}</p>
  <button class="update-status">Update Status</button>
  <button class="delete-task">Delete</button>
</div>
    {{/each}}
</div> --}}
{{!-- <script src="../public/js/tasks.js"></script> --}}